.simple-carousel{
	padding:0px;
	list-style-type: none;
	margin:0;
}

.simple-carousel a img,
.simple-carousel a{
border-width:0;
}

.simple-carousel li{
	float:left;
	padding:0 10px;
}

.simple-carousel-inner-wrapper{
	display:block;
	width:740px;
	height:128px;
	overflow:hidden;
	margin:10px auto;
}

.simple-carousel-wrapper{
	position:relative;
	height:148px;
	width:840px;
	overflow:hidden;
	border: 1px solid gray;
border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-webkit-border-radius: 7px;
-khtml-border-radius: 7px;
	
}

.simple-carousel-arrow{
	width:50px;
	height:100%;
	margin: auto 0;
	/*background-color:orange;*/
	display:block;
	position:absolute;
	top:0;
	cursor:pointer;
	opacity:.7;
	/*top:39px;*/
}


.simple-carousel-left-arrow {
	left:0;
	background:url(../images/catalog_left_arrow.png) center no-repeat white;
}

.simple-carousel-right-arrow{
	right:0px;
	background:url(../images/catalog_right_arrow.png) center no-repeat white;
}

#simple-carousel-bigbackground{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.8;
	display:none;
	z-index: 100;
	cursor: url(../images/close.png), -moz-zoom-in;
	background:url(../images/loading.gif) center no-repeat black;
}

#simple-carousel-big-image{
	z-index:101;
	position:fixed;
	display:hidden;
	top:0;
	left:0;
	margin:auto;
}

#simple-carousel-big-image-text{
	z-index:102;
	position:fixed;
	display:hidden;
	top:0;
	left:0;
	margin:10px 0 0 0;
	padding:3px 0;
	font-size:13px;
	text-align:center;
	background-color:white;
}

#simple-carousel-index-position{
	z-index:102;
	position:fixed;
	display:hidden;
	top:0;
	left:0;
        color:gray;
        font-size:14px;
        font-weight:bold;
        padding:0;
        margin:0;
}

#simple-carousel-close-text{
	z-index:102;
	position:fixed;
	display:hidden;
	top:0;
	left:0;
	width:30px;
	height:30px;
	background-image: url(../images/close.png);
	cursor:pointer;
}

#simple-carousel-b-left,
#simple-carousel-b-right{
position:fixed;
z-index:105;
display:none;
width:40px;
height:46px;
background-repeat: no-repeat;
background-image: url('../images/background_arrows.png');
cursor:pointer;
}

#simple-carousel-b-left{
background-position:0 0;
}

#simple-carousel-b-right{
background-position:-40px 0;
}
