.simple-carousel-inner-wrapper{
	height:380px;
	width:800px;
	margin:20px auto;
}

.simple-carousel-wrapper{
	height:420px;
}

.simple-carousel li{
	padding:0;
}

.simple-carousel-left-arrow {
	left:0;
	background:none;
}

.simple-carousel-right-arrow{
	right:0px;
	background:none;
}

.simple-carousel-wrapper:hover > .simple-carousel-left-arrow {
	background:url(../images/catalog_left_arrow.png) center no-repeat white;
}

.simple-carousel-wrapper:hover > .simple-carousel-right-arrow {
	background:url(../images/catalog_right_arrow.png) center no-repeat white;
}



