<!DOCTYPE html> 
<html lang="{%if lang%}lang{%else%}es{%endif%}">
<head>
    <title>RAA | {%block title%}{%endblock%}</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
	{%block extra_css%}{%endblock%}

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
	{%block extra_scripts%}{%endblock%}

	{%block extra_head%}{%endblock%}

</head>
<body>
<div id="super-wrapper">
	<div id="page-wrapper">
		<div id="navigation">
		<ul id="navigation-menu">
			<li><a href="/quienes-somos/">QUIENES SOMOS</a></li>
			<li><a href="/productos/">PRODUCTOS</a></li>
			<li><a href="/servicios/">SERVICIOS</a></li>
			<li><a href="/marcas/">MARCAS</a></li>
			<li><a href="{%url contact-form%}">CONTACTANOS</a></li>
		</ul>
		<div class="clear"></div>
		</div>
		<div id="content">
		{%block content%}
		{%endblock%}
		</div>
		<div id="bottom">
			<p>Paseo san Gerardo, No. 134 club de golf San Carlos, Metepec, Estado de Mexico</p>
			<p>Telefonos : ventas: 52-722-3181684 finanzas: 52-722-318-09-49 logistica: 52-722-508-46-41</p>
		</div>
	</div>
<div>
</body>
</html>

