{%extends 'base.html'%}
{% load markup %}

{%block title%}{{flatpage.title}}{%endblock%}
{%block content%}
<div id="mini-logo"></div>
<div id="markdown">{{flatpage.content|markdown:"safe"}}</div>
{%endblock%}
