body{
    background-color:white;
    color:black;
    margin:0;
    padding:0;
    font-family: Arial, Verdana, Helvatica, sans-serif;
}

.clear{
	clear:both;
}

#super-wrapper{
width: 100%;
margin:10px 0;
position:relative;
}

#page-wrapper{
	position:relative;
    width:960px;
    height:666px;
    display:block;
    overflow:hidden;
    margin:auto auto;
    box-shadow: 10px 10px 10px gray;
}

#navigation{
	width:100%;
	background-color:#e0091d;
	color:white;
	padding:0;
}

#navigation-menu{
padding:0 0 0 35px;
margin:0 auto;
}


#navigation a{
	color: white;
	text-decoration:none;
	font-weight:bold;
}

#navigation li{
	list-style-type:none;
	float:left;
	padding:15px 32px;
	margin:6px 3px 0px 3px;
	font-size:17px;
}

.current-page,
#navigation li:hover {
	background-color:white;
}

.current-page,
#navigation li:hover,
.rounded-top-left{
border-top-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-ms-border-radius-topleft: 15px;
}

.current-page,
#navigation li:hover,
.rounded-top-right{
border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;
-ms-border-radius-topright: 15px;
}

#bottom{
position:absolute;
height:42px;
overflow:hidden;
text-align:center;
border-top: 15px #e0091d solid;
padding-top:3px;
font-size:0.8em;
font-weight:bold;
color:#9c9d9f;
width:960px;
left:0;
bottom:0px;
}

#bottom p{
padding:2px 0;
margin:0
}

#navigation .current-page a,
#navigation li:hover a{
	color:#e0091d;

}

#content{
	width:100%;
	height:550px;
	overflow:auto;
}

#mini-logo{
margin: 10px 0 0 0;
width:148px;
height:66px;
display:block;
background-repeat: no-repeat;
background-image:url('../images/logo_small.png');
}

#markdown h1{
background-color:#999999;
font-family:'arial narrow';
text-align:center;
color:white;
margin: 15px 0 0 0;
}

#markdown p{
font-size:15px;
line-height:175%;
margin:0;
padding: 0 0 10px 0;
}

#marcas{
text-align:center;
margin-top:106px;
}

#catalog {
padding:20px 80px 0 80px;
}

#catalog h2{
font-size:15px;
margin:0;
padding:0 0 10px 0;
font-weight:normal;
}

#catalog-images{
padding: 10px 0 20px 80px;
}

form{
text-align:center;
}


form table{
text-align:left;
margin: 0 auto;
padding: 35px 0 0 0;
}

form input[type="text"]{
width:100%;
}

form th{
text-align:left;
}


