{%extends 'base.html'%}
{% load thumbnail %}

{%block title%}Productos{%endblock%}


{%block content%}
<div id="mini-logo"></div>
<div id="catalog">
{%for catalog in catalogs%}
<h2>{{catalog.description|capfirst}}</h2>
<div id="catalog-images">
	{%for image in catalog.images.all%}
	    {% thumbnail image.image "70x70" upscale=0 format='PNG' as im%}
	    <img src="{{im.url}}" alt="{{image.description}}" style="margin:{{ im|margin:"70x70" }}"/>
            {% endthumbnail %}
	{%endfor%}
</div>
{%endfor%}
</div>

{%endblock%}
