{%extends 'base.html'%}
{% load thumbnail %}

{%block title%}{{catalog.name}}{%endblock%}

{%block content%}
<div id="mini-logo"></div>
<div id="marcas">
	{%for image in catalog.images.all%}
	    {% thumbnail image.image "230x230" upscale=0 format='PNG' as im%}
	    <img src="{{im.url}}" alt="{{image.description}}" style="margin:{{ im|margin:"200x200" }}"/>
            {% endthumbnail %}
	{%endfor%}
</div>
{%endblock%}
